<li id="<%= feed_item.id %>">
  <%= link_to gravatar_for(User.find(feed_item.card.user_id)), User.find(feed_item.card.user_id) %>
  <span class="user">
    <%= link_to User.find(feed_item.card.user_id).name, User.find(feed_item.card.user_id) %>
  </span>
  <span class="content"><%= Card.find(feed_item.display_card).subject %></span>
  <span class="timestamp">
    <%= Card.find(feed_item.display_card).content %>
  </span>
  <span class="content">
  	World Rank <%= feed_item.world_rank %> Friend Rank <%= feed_item.friend_rank %> Self Rank <%= feed_item.self_rank %>
  </span>
  <% if current_user?(User.find(Card.find(feed_item.display_card).user_id)) %>
    <%= link_to "delete", feed_item, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: Card.find(feed_item.display_card).subject %>
  <% end %>
</li>